.field
  = form.label attribute, class: "label"
  %label.file-label
    = form.file_field attribute, class: "file-input", accept: '.png,.jpeg,.jpg,image/jpeg,image/jpg,image/png'
    %span.file-cta
      %span.file-icon
        %i.fas.fa-upload
      %span.file-label
        = t("shared.buttons.choose_button")

