.field
  = form.label attribute, class: "label"
  %label.file-label
    = form.file_field attribute, class: "file-input"
    %span.file-cta
      %span.file-icon
        %i.fas.fa-upload
      %span.file-label
        Choose a file…
