%nav.navbar.is-link.has-shadow{"aria-label" => "main navigation", :role => "navigation"}
  .container
    .navbar-brand
      = link_to t(:app_name, scope: :generic), root_path, class: "navbar-item has-text-weight-bold is-size-5"
    = render "shared/navbar/menu_items"
    = render "shared/navbar/menu_items_end"
