%nav.navbar.has-shadow{"aria-label" => "main navigation", :role => "navigation"}
  .container
    .navbar-brand
      = link_to "Checkinar", root_path, class: "navbar-item bold"
      %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
