- if user_signed_in?
  .navbar-menu
    .navbar-start
      = link_to t(:my_model, scope: :generic, model: model_plural_name(Attendance)), attendances_path, class: "navbar-item", "data-turbolinks" => "false"
      = link_to activities_path, class: "navbar-item", "data-turbolinks" => "false" do
        = current_user.owner? ? model_plural_name(Activity) : t(:my_model, scope: :generic, model: model_plural_name(Activity))
