.columns
  .column
    %h3.title.is-3= model_plural_name(Attendance)
  .column
    = form_with url: activity_path(@activity), local: true, method: :get, class: "is-pulled-right" do |form|
      .field.has-addons
        .control
          = text_field_tag "attendance[date_range]", nil, class: "input input-date-range"
        .control
          = form.submit "Filtrar", class: "button is-info"
