main {
  margin-top: 40px;
}

.has-regular-padding {
  padding: 25px;
}

.is-justified-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

hr {
  margin-top: 0;
  margin-bottom: 15px;
}
