%p
  Hola #{@resource.email}!
%p Se ha solicitado el cambio de tu contraseña, puedes continuar a través del siguiente enlace
%p= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si tú no lo has solicitado, por favor ignora este correo.
%p Tu contraseña no será actualizada hasta que continues con el proceso.
